@font-face {
    font-family: 'CocoGothic';
    src: url('/assets/fonts/CocoGothicBOLD.TTF') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}
  
@font-face {
    font-family: 'VisbyCF';
    src: url('/assets/fonts/VisbyCFLight.TTF') format('truetype');
    /* font-weight: bold;
    font-style: normal; */
}

@font-face {
    font-family: 'VisbyMed';
    src: url('/assets/fonts/VisbyCFMed.TTF') format('truetype');
    /* font-weight: bold;
    font-style: normal; */
}

@font-face {
    font-family: 'VisbyBold';
    src: url('/assets/fonts/VisbyCFBold.TTF') format('truetype');
    /* font-weight: bold;
    font-style: normal; */
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animate-fadeIn {
      animation: fadeIn 2s ease-in-out forwards;
    }
  }

  body {
    background-color: #1E1D1C;
  }